body{
    margin:0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    width: 100%;
    height: 150px;
    background-color:  #003e7e;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.nav .logo{
    margin-top: 14px;
    margin-left: 35px;
    height: 120px;
    width:150px;
    border: white;
}
.nav ul {
    list-style: none;
    display: flex;   
}
.nav li{
    list-style-type: none;
    display: flex;
}
.nav .item{
    position:absolute;
    right: 0;
    top: 40px;
    display: flex;
    margin-right: 50px;
}
.nav .item ul li a{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    font-size: 20px;
    padding:  5px 5px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 15px;
    margin-left: 20px;
    text-decoration: none;
}
.nav .item ul li a:hover{
    color: cornflowerblue;
    background: white;
}
.nav .item #button{
    margin-right: 20px;
    /* margin-top: 5px; */
    height: 35px;
    width: 100px;
    border: 2px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.nav .item #button:hover{
    /* transform: scale(1.1); */
    background-color: #d9e3ec;
}
.nav .item .btn{
    margin-top: 20px;
    margin-left: 20px;
}
.btn .logbn{
    padding: 5px;
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: 2px solid black;
    transition: 0.4s;
}
.logbn:hover{
    transform: scale(1.1);
}
.animation{
    /* margin-top: 20px; */
    /* margin-left:15px ; */
    height: 600px;
    width: 100%;
    background-size: 100% 100%;
    background-color: white;
    background-image: url("/images/save.jpg");
    animation: slider 20s infinite linear;
}
@keyframes slider{
    20%{ background-image :url("/images/savings.jpg");}
    50%{ background-image: url("/Images/current.jpg");}
    75%{ background-image: url("/Images/curr.jpg");}
}
.account{
    margin-left: 40px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}
.acctitle h1{
    color: #003e7e;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 30px;
}
.acccon{
    width: 75%;
    margin-left: 100px;
    font-size: 20px;
}
.reason-title h1{
    color: #003e7e;
    font-size: 30px;
    text-align: center;
}
.redes{
    text-align: center;
    width: 70%;
    margin-left: 120px;
    font-size: 20px;
}
.reason-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 40px;
    column-gap: 20px;
}
.image{
    height: 300px;
    width: 300px;
}
.rimg{
    height: 200px;
    width: 200px;
    border-radius: 40%;
    margin-left: 50px;
    margin-top: 20px;
    transition: ease-in-out;
}
.rimg:hover{
    transform: translate(0, -10px);
}
.imagedes{
    color: #003e7e;
    font-style: italic;
    font-weight: 800;
}
.acc-detail{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: rgb(40, 75, 141);
}
.all-account{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 60px;
    padding: 50px;
    column-gap: 20px;
}
.one{
    text-align: center;
    height: 500px;
}
.termimg img{
    width: 250px;
    height: 200px;
    margin-top: 20px;
    border-radius: 20%;
}
.termimg h2{
    color: #003e7e;
    font-size: 30px;
    font-weight: 600;
}
.terminfo{
    font-size: 18px;
    width:80%;
    margin-left: 33px;
}
.one:hover{
    border:3px #003e7e;
    box-shadow:5px 5px 5px 5px #003e7e;
    transform: translate(0, -20px);
}
.one button{
    margin: 50px;
    padding:14px;
    border-radius: 10%;
    background-color: #003e7e;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.mimg{
    height: 350px;
    width: 400px;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.box-wrapper{
    position: relative;
    display: table;
    width: 1100px;
    margin-top: 35px;
    border-radius: 30px;
    margin-left: 150px;
}
.pic{
    width: 35%;
    height: 350px;
    float: left;
    display: block;
}
.form-wrap{
    width: 65%;
    float: right;
    border-radius: 0px 30px 30px 0px;
    background-color: #2f5a85;
    height: 350px;
}
.form-title{
    text-align: left;
    font-size: 30px;
    color: white;
    font-style: italic;
    margin-left: 20px;
}
.form-field{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 50px;
}
.form-field input,
.form-field textarea{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    background-color: beige;
    border-radius: 20px;
}
.form-field textarea{
    width: 90%;
}
.form-head{
    /* width: 46%;
    float: left; */
    margin: 14px 12px;
    border-radius: 25px;
}

.submit-btn{
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    color: black;
    text-align: center;
    background: white;
    margin-top: 10px;
    margin-left:40px;
    width: 50%;
    transition: 0.4s;
}
.submit-btn:hover{
    background-color:#57728d;
}
.foot{
    padding-top: 20px;
    background-color: #003e7e;
    margin-bottom: 0;
    height: 200px;
    text-align: center;
    /* margin-top: -100px; */
}
.contact{
    width: 100%;
    height: 570px;
    background-color: white;
}
.con-title{
    color:#0a75df;
    font-size: 30px;
    font-style: italic;
    /* margin-top: -80px; */
}
.text{
    text-align: center;
    padding: 50px;
}
.text h1{
    font-size: 35px;
}
.text p{
    font-size: 18px;
    padding: 15px;
}
.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: -30px;
}
.box{
    width: 280px;
    height: 280px;
    background-color: white;
    box-shadow: 0px 15px 25px  #003e7e;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}
.box h1{
    padding: 15px;
}
.box p{
    font-size: 18px;
}
.foot-right p{
    color:white;
}
.foot-mid .social-links{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.social-links .soc-link{
    margin-top: 30px;
    margin-left: 100px;
}
.social-links ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 50px; 
    transition: 0.3s ease;
}
.social-links ul li:hover{
    color: burlywood;
    transform: scale(1.1);
}
.social-links ul li a p:hover{
    color: burlywood;
    transform: scale(1.1);
}
.social-links p{
    color: antiquewhite;
    margin-left: 20px;
}
.copyright {
    height: 50px;
    padding: 1px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: #00244b;;
}
.copy{
    color: white;
}
.copy1{
    padding: 20px;
}


/*CSS for the popup*/

.popup-container{
   
    display: none;
    position: absolute;
    top: 115px;
    left: 2%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    font-family: 'Asul', sans-serif;
    
    align-content: left;
    height: 400px;
    width: 80%;
    background: white;
    border-radius: 10px;
    box-shadow : 0 14px 28px rgba(0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .close-btn{
  position: absolute;
  top:0;
  height: 50px;
  width:50px;
  font-size: 22px;
  color: black;
  bottom:100%;
  left: 180%;
  display: block;
  z-index: 5;
  border:1px solid red;
  }
  .popup-container h1 {
  font-weight: bold;
  margin: 0;
  }
  .popup-container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  }
  .popup-container span {
  font-size: 12px;
  }
  
  .popup-container a {
  color: #333333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  }
  .popup-container a:hover {
  border-bottom: 1px solid #333333;
  }
  .form-container form {
    background-color: #ffff;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .popup-container .social-container {
  margin:20px 0;
  }
  
  .social-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  }
  .social-container i{
  font-size: 22px;
  padding: 5px;
  border:1px solid #333333;
  border-radius: 50%;
  }
  
  .form-container input{
  background: #eeee;
  border:none;
  outline: none;
  padding: 18px 15px;
  margin: 8px 0;
  width:70%;
  }
  
  
  .popup-container button{
    margin-top: 40px;
  border-radius: 20px;
  border: 1px solid #2bbcff;
  background:#2bbcff;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  }
  
  .popup-container button:active{
  transform: scale(0.95);
  }
  
  .popup-container button:focus{
  outline: none;
  }
  
  button.ghost {
  background: transparent;
  border-color:#ffffff;
  }
  
  .form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container{
  left:0;
  width: 50%;
  z-index: 2;
  }
  
  /*Moves sign In to right */
  
  .popup-container.right-panel-active .sign-in-container{
  transform: translateX(100%);
  }
  
  .sign-up-container{
  left:0;
  width: 50%;
  z-index: 1;
  opacity: 0;
  }
  
  /*Brings Sign Up over sign in*/
  .popup-container.right-panel-active .sign-up-container{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
  }
  
  @keyframes show {
  0%,49.99%{
    opacity: 0;
    z-index: 1;
  }
  50%,100%{
    opacity: 1;
    z-index: 5;
  }
  }
  .overlay-container {
  position: absolute;
  top:0;
  left:50%;
  width:50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  z-index: 100;
  }
  .overlay{
  background-color: #003e7e;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  height: 400px;
  position: relative;
  left:-100%;
  height: 100%;
  width:200%;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  }
  
  .overlay-panel{
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  } 
  
  .overlay-right{
  right: 0;
  transform: translateX(0);
  }
  
  .overlay-left{
  transform: translateX(-20%);
  }
  
  
  /*Moves Overlay to left*/
  .popup-container.right-panel-active .overlay-container{
  transform: translateX(-100%);
  }
  
  /*Move Overlay back */
  .popup-container.right-panel-active .overlay{
  transform: translateX(50%);
  }
  
  /*Shifts the overlay left content to position*/
  .popup-container.right-panel-active .overlay-left {
  transform: translateX(0);
  }
  /*Shifts the overlay right's content to position*/
  .popup-container.right-panel-active .overlay-right {
  transform: translateX(20%);
  }
  