body{
    margin:0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    width: 100%;
    height: 150px;
    background-color:  #003e7e;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.nav .logo{
    margin-top: 14px;
    height: 120px;
    width:150px;
    border: white;
    margin-left: 20px;
}
.nav .heading{
    color: white;
    margin-top: 55px;
}

.nav .btn{
    margin-top: 55px;
    margin-right: 30px;
}
.btn .back{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
    transition: 0.4s;
}
.hero-img img{
    width: 100%;
    height: 600px;
}
.hero-text{
    position: absolute;
    left: 60%;
    top: 50%;
    width: 30%;
    font-size: 35px;
    font-weight: 500;
    color:white;
    transition: ease-in;
}
.content-list{
    margin-top: 30px;
}
.content-list ul{
    display: flex;
    gap: 100px;
    list-style: none;
}
.content-list a{
    text-decoration: none;
    font-size: 20px;
    color: #003e7e;
    transition: 0.4s;
}
.content-list a:hover{
    transform: scale(1.1);
}
.over{
    width: 90%;
    margin-left: 90px;
    margin-top: 50px;
}
.stitle{
    font-size: 30px;
    color: #003e7e;
    font-style:italic;
}
.save-content{
    font-size: 18px;
}
.direct{
    display: grid;
    grid-template-columns:auto auto;
    margin-left: 50px;
    margin-top: 25px;
    column-gap: 40px;
    width: 90%;
}
.dirimg img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-left: 80px;
    border-radius: 50%;
    margin-top: 40px;
}
#step{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.dtitle{
    color: #003e7e;
    font-size: 30px;
}
.dsub{
    font-size: 22px;
}
.direct1 ol li{
    font-size: large;
}
footer{
    background-color: #003e7e;
    margin-top: 20px;
    width: 100%;
    height:10vh;
}
.foot{
    padding-top: 20px;
    background-color: #003e7e;
    margin-bottom: 0;
    height: 200px;
    text-align: center;
    margin-top: 70px;
}
.foot-right p{
    color: white;
    padding: 10px;
    margin: 20px;
}
.foot-mid .social-links{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.social-links .soc-link{
    margin-top: 10px;
    margin-left: 150px;
}
.social-links ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 50px; 
    transition: 0.3s ease;
    margin-left: 20px;
}

.social-links ul li a p{
    transition: .4s;
}
.social-links ul li:hover{
    color: burlywood;
    transform: scale(1.1);
}
.social-links ul li a p:hover{
    color: burlywood;
    transform: scale(1.1);
}
.social-links p{
    color: antiquewhite;
    margin-left: 20px;
}
.copyright {
    height: 50px;
    padding: 1px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: #00244b;;
}
.copy{
    color: white;
}
.copy1{
    padding: 20px;
}
